@import "./abstracts/abstracts-dir.scss";
// @import "../fonts/San-Francisco-Pro-Fonts/index.css";
//
:button:input:check-box:search-box:cursor:container:sidebar:modal:alert //

html {
  overflow-x: hidden;
}

.page-titel {
  color: var(--theme-text) !important;
}
.sub-page-titel {
  color: var(--text-gray) !important;
  font-size: fontSize(16px);
  font-weight: normal;
}
.table {
  color: var(--text-black) !important;
  // background: var(--table-bg) !important;
}
.card {
  background: var(--primary-bg) !important;
}

.modal {
  .modal-right {
    position: absolute;
    width: 100%;
    bottom: 10px;
    margin: 0;
    top: 0;
    right: 0;
    max-width: 654px;
    .modal-content {
      min-height: 100vh;
    }
  }
}
.title-form{
  color: var(--text-primary);
}

.small-search-input{
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,.css-rb5gc9-MuiFormLabel-root-MuiInputLabel-root{
        font-size: .8rem;
        line-height: 1em;
    }
}
