
.whatYouLearn{
    .card-body{
        .card-title{
            // font-size: 1.4rem;
            // font-weight: 700;
        }
        .achieve-list{
            li{
                color: var(--text-black);
                border: 0;
                background-color: transparent;
            }
        }
    }
}