.custom-search{
 
.form-control{
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
}

}
.small-input{
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
        font-size: .8rem;
        line-height: 1em;
    }
}